<!doctype html>
<html>
<head>
	<title>Chess leader board</title>
	<link rel="stylesheet" href="/vendor/semantic/dist/semantic.css">
</head>
<body>
<div class="ui raised very padded text container">
	<h1>Chess leader board</h1>

	<table class="ui inverted brown table">
		<thead>
		<tr>
			<th>Players</th>
			<th>Points</th>
		</tr>
		</thead>
		<tbody>
		<% for(var i = 0; i < users.length; i++) { %>
		<tr>
			<td>
				<div class="content">
					<%= users[i].name %>
				</div>
			</td>
			<td>
				<%= users[i].points %>
			</td>
		</tr>
		<% }%>
		</tbody>
	</table>
</div>
</body>
</html>
