doctype html
html(lang="en")
	head
		title Chess leader board
		link(rel="stylesheet" href="/vendor/semantic/dist/semantic.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		.ui.raised.very.padded.text.container
			block content
